@import '../../../shared/variables';

.notFound {
  display: flex;
  flex-grow: 1;
  place-items: center;
  place-content: center;
  font-weight: $bold;
  font-size: $extra-2-large;
  background-color: $violet;
  padding: 30px;

  color: white;
}

.wrapper {
  border: 2px dashed white;
  padding: 20px;
  border-radius: 8px;
}