@import "../../../shared/variables";

.itemInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 620px;
  flex-grow: 1;
  gap: 24px;
}

.ratingTypes {
  display: flex;
  align-items: center;
  padding-top: 16px;
  justify-content: space-between;
}

.stars {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}

.types {
  color: $gray-600;
  font-size: $medium;
  line-height: 24px;
}

.stock {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: $gray-500;
  padding: 12px 0;

  font-weight: 500;
  font-size: $large;
  line-height: 24px;
  color: $orange;
}

.description {
  font-size: $large;
  line-height: 30px;
  margin: 0;
}

.shipsWarranty {
  display: flex;
  flex-direction: column;
  gap: 12px;

  color: $gray-600;
  font-size: $medium;
  line-height: 24px;
}

.cartButton {
  padding: 20px 50px;
}

.cartGroup {
  display: flex;
  justify-content: space-between;
  background-color: $gray-100;
  border-radius: 6px;
  padding: 12px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 20px;

  .hr {
    height: 100%;
    width: 1px;
    background-color: $gray-200;
    border: none;
    margin: 0;
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 2px;


  span {
    &:first-child {
      font-weight: $semi-bold;
      font-size: $extra-3-large;
      line-height: 40px;
    }
    &:last-child {
      font-weight: 500;
      font-size: $medium;
      line-height: 20px;
      text-decoration: line-through;
      color: $gray-600;
    }
  }
}

.discount {
  display: flex;
  gap: 8px;
  font-size: $medium;
  line-height: 24px;
  white-space: nowrap;

  .percent {
    font-weight: $semi-bold;
  }
}

.addToCartButton {
  width: 100%;
  text-wrap: nowrap;
  max-width: 176px;
  font-size: $medium;
}

@media screen and (max-width: 1380px) {
  .itemInfo {
    gap: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .priceWrapper {
    gap: 8px;
  }
  .title {
    font-size: $extra-large;
  }
}

@media screen and (max-width: 740px) {
}


@media screen and (max-width: 520px) {
  .priceWrapper {
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }
  .cartGroup {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .addToCartButton {
    padding: 16px;
    max-width: 100%;
  }

  .price {
    span {
      &:first-child {
        font-weight: $semi-bold;
        font-size: $extra-large;
        line-height: 28px;
      }
      &:last-child {
        font-weight: 500;
        font-size: $small;
        line-height: 18px;
        text-decoration: line-through;
        color: $gray-600;
      }
    }
  }
  .ratingTypes {
    flex-direction: column;
  }
}
