@import "src/shared/variables";

.catalog {
  padding: 48px 0;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.catalogItems {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.searchByTitle {
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  background-color: $gray-100;
  color: $gray-900;
  font-size: $medium;
  line-height: 22px;

  &::placeholder {
    color: $gray-500;
  }
}

.showMore {
  align-self: center;
  padding: 20px 50px;
}

@media screen and (max-width: 1080px) {
  .catalogItems {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 740px) {
  .catalogItems {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

//.catalogItems {
//  display: flex;
//  gap: 20px 35px;
//  flex-wrap: wrap;
//}
//
//.searchByTitle {
//  border: none;
//  border-radius: 4px;
//  outline: none;
//  padding: 20px;
//  background-color: $gray-100;
//  color: $gray-900;
//  font-size: $medium;
//  line-height: 22px;
//
//  &::placeholder {
//    color: $gray-500;
//  }
//}
//
//.showMore {
//  align-self: center;
//  padding: 20px 50px;
//}
