@import "src/shared/variables";

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.button {
  height: 100%;
  padding: 16px;
}

.itemsCount {
  min-width: 48px;
  width: auto;
  text-align: center;
  font-size: $small;
}
