@import '../../../shared/variables';

@mixin flexPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  flex-grow: 1;
}

.cartRow {
  display: flex;
  gap: 48px;
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: calc(776px - 80px);
  flex-grow: 1;
  padding: 20px 40px;
  border: 1px solid $gray-500;
  border-radius: 4px;
}

.itemsPrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 356px;
  flex-grow: 1;
  color: $gray-500;

  hr {
    height: 1px;
    background-color: $gray-500;
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.itemsCount {
  @include flexPrice();
  font-size: $large;
}

.totalPrice {
  @include flexPrice();
  font-size: $large;
  font-weight: $semi-bold;
}

.totalPriceWithDiscount {
  @include flexPrice();
  font-size: $extra-large;
  font-weight: $bold;
}

.info {
  color: $gray-900;
}
