$violet: #484283;
$orange: #F14F4F;
$orange-dark: #8C2828;
$orange-white: #F8AFAF;
$gray-100: #F6F6F6;
$gray-200: #D5D5D5;
$gray-500: #B2B5BB;
$gray-600: #6D727B;
$gray-900: #444B58;

$small: 14px;
$medium: 16px;
$large: 18px;
$extra-large: 24px;
$extra-2-large: 30px;
$extra-3-large: 36px;

$bold: 700;
$semi-bold: 600;

