@import "src/shared/variables";


.catalogItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid $gray-200;
  border-radius: 6px;
  width: 100%;
  max-width: 370px;

  &:after {
    transition: 500ms;
    content: "";
  }

  &:hover {
    &:after {
      content: "Show Deatils";
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 70px);
      width: 100%;
      box-shadow: 0 6px 10px 0 #00000040;
      background-color: #D5D5D580;
      font-size: 26px;
      font-weight: 800;
      color: #FFFFFFCC;
    }
    .manageItems {
      z-index: 1;
      background-color: white;
    }
    .name {
      text-decoration: underline;
    }
  }
}

.manageItems {
  display: flex;
  gap: 10px;
  padding: 10px;
  color: $gray-900;
}

.info {
  display: flex;
  flex-direction: column;
  flex-basis: 50px;
  flex-grow: 1;
  gap: 6px;
  max-width: 290px;
  overflow: hidden;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  font-weight: $semi-bold;
  font-size: $medium;
  line-height: 20px;
  flex-shrink: 1;
}

.price {
  font-size: $large;
  line-height: 24px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.button {
  height: 100%;
  padding: 16px;
}

.itemsCount {
  font-size: $small;
}

@media screen and (max-width: 1080px) {
  .manageItems {
    justify-content: space-between;
  }
}
