@import "/src/shared/variables";

.product {
  color: $gray-900;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 48px;
}

.productRow {
  display: flex;
  gap: 40px;
}


@media screen and (max-width: 1080px) {
  .productRow {
    flex-direction: column;
  }
}
