@import "src/shared/variables";

.wrapperClassName {
  background-color: $violet;
  color: white;
  padding: 60px 0;
}

.containerClassName {

  .title {
    color: white;
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 1320px) {
  .containerClassName {
    padding: 0 280px;
  }
}